:root {
  --color-iris: #4d5ae5; /* CTA, focused, active stts, links */
  --color-ocean: #404bbf; /* CTAs */
  --color-navy-blue: #2e2f42; /* Overlay, shadows, headings */
  --color-green: #31d0aa; /* valid fields, sucs messages */
  --color-slate: #434455; /* body text */
  --color-light-slate: #8e8f99; /* helper text */
  --color-cornflower: #e7e9fc; /* accent color */
  --color-cloud: #f4f4fd; /* lightmode background */
  --color-navy-blue-modal: #2e2f42; /* modal overlay */
  --color-grey: #2e2f42; /* hero background */
  --color-light: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #2e2f42;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
}

img {
  display: block;
}
address {
  font-style: normal;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

button {
  font-weight: 600;
  cursor: pointer;
}

p {
  color: #434455;
}

/* #endregion */
/* #region common style*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  padding: 0 15px 0 15px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}
.social-item {
}
.social-icon {
  fill: #f4f4fd;
}

/* #endregion */
/* #region  header style*/
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
}
.header .container {
  display: flex;
  align-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 0px;
}

.header-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
  width: 115px;

  margin-right: 76px;
  padding: 24px 0;
}
.header-accent {
  color: #4d5ae5;
}
.header-list {
  display: flex;
  flex-direction: row;
  gap: 40px;

  margin-right: 332px;
}

.header-item {
}

.nav-link {
  display: block;
  padding: 24px 0;
  color: inherit;
  font-weight: 500;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
.nav-link.active {
  position: relative;
  color: #404bbf;
}

.nav-link.active::after {
  position: absolute;
  left: 0;
  bottom: -1px;

  content: "";
  display: block;

  border-radius: 2px;
  width: 100%;
  height: 4px;

  background-color: #404bbf;
}

.address {
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-link {
  display: block;
  color: #434455;
  padding: 24px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* #endregion */
/* #region  hero style*/
.hero {
  margin: 0 auto;
  max-width: 1440px;
  padding: 188px 0;
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/background/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .container {
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #fff;

  max-width: 496px;
  margin: 0 auto 48px;
}
.button {
  font-family: Roboto, sans-serif;
  display: block;
  color: #fff;
  background: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  margin: 0 auto;
  border: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.button:hover,
.button:focus {
  background: #404bbf;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
/* #endregion */
/* #region benefits style*/
.benefits {
}
.benefits .container {
}
.benefits-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  border-radius: 4px;
  width: 100%;
  height: 112px;
  margin-bottom: 8px;
}
.benefits-title {
}
.benefits-list {
  display: flex;
  gap: 24px;
}
.benefits-item {
  width: calc((100% - 72px) / 4);
}
.benefits-subtitle {
  margin-bottom: 8px;
}
.benefits-text {
}
/* #endregion */
/* #region team style*/
.team {
  background: #f4f4fd;
}

.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-info {
  padding: 32px 0;
  text-align: center;
  background: #fff;
  border-radius: 0 0 4px 4px;
}
.team-subtitle {
  text-align: center;
  margin-bottom: 8px;
}
.team-text {
  text-align: center;
}

.social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: start;
}

.social-list {
  display: flex;
  gap: 24px;
  width: 100%;
  justify-content: center;
  margin-top: 8px;
}
.social-item {
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #4d5ae5;
  border-radius: 50%;

  padding: 12px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;

  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
  rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}

/* #endregion */
/* #region  portfolio style*/
.portfolio {
}
.portfolio-title {
  text-align: center;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}
.portfolio-info {
  padding: 32px 16px;

  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}
.portfolio-item {
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-owerlay-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;

  padding: 40px 32px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .portfolio-owerlay-text,
.portfolio-item:focus .portfolio-owerlay-text {
  transform: translateY(0);
  background-color: #4d5ae5;
}
.portfolio-owerlay-container {
  position: relative;
  overflow: hidden;
}
.portfolio-info {
}
.portfolio-subtitle {
  margin-bottom: 8px;
}
.portfolio-text {
}
/* #endregion */
/* #region  footer style*/
.footer {
  background: #2e2f42;
  padding: 100px 0;
}
.footer .container {
  display: flex;
  align-items: baseline;
}
.footer-left-side {
  margin-right: 120px;
}
.footer-link {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
}
.footer-accent {
  color: #f4f4fd;
}
.footer-text {
  width: 264px;
  color: #f4f4fd;
}

.footer-right-side {
  width: 208px;
}

.footer-right-side .social-item {
  width: 40px;
  height: 40px;
}

.footer-right-side .social-list {
  margin-top: 0;
  gap: 16px;
}
.footer-right-side .social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}

.footer-right-side .social-link {
  width: 100%;
  height: 100%;
}
.footer-right-side .social-link:hover,
.footer-right-side .social-link:focus {
  background-color: #31d0aa;
}
